<ion-view view-title="Advanced Search">
<ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
  <ion-content>
	<ion-list id ="main">
		<ion-item>
			<input id="searchCategory"	 type="search" 	placeholder="Category..."/>
			<input id="searchAge" style="display:inline-block;"	 type="search" 	placeholder="Age..."/>
			<select id="searchAgeGranularity" >
				<option>Years</option>
				<option>Months</option>
			</select>
			<br>
			Days of the Week
			<select multiple size="1" id ="daysWeek">
				<option selected>Sunday</option>
				<option selected>Monday</option>
				<option selected>Tuesday</option>
				<option selected>Wednesday</option>
				<option selected>Thursday</option>
				<option selected>Friday</option>
				<option selected>Saturday</option>
			</select>
			<input id="searchMunicipality"	 type="search" 	placeholder="Municipality..."/>
			<input id="searchLocation"	 type="search" 	placeholder="Location..."/>
			<input id="searchInstructor" type="search" style="display:inline-block;"	placeholder="Instructor..."/>
			<button id="query" class="button button-positive" style="float:right;" ng-click="newQuery()">Add Query</button>
		</ion-item>
	</ion-list>
  <button class="button button-block button-positive" style="top:-.7em;"ng-click="submit()">Go!</button>

 </ion-content>
</ion-view>
