<ion-view view-title="Register Tutorial">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
<ion-content>
    <ion-list>
	<ion-item>
		<b style="font-size:1.25em;">Introduction</b><br><hr>
		<span style="white-space: normal;">Registration within the Saanich Parks & Rec App is not possible at this time, however it can be used as a means of quickly reaching the registration page located within Rec Online.
		<br><br>
		<b style="font-size:1.25em;">Steps to Register</b><br><hr>
		<b>1.</b> Locate a program or activity that you wish to register in by navigating to that programs information page.
		<br>
		<b>2.</b> Click the 'Register' button
		<br>
		<b>3.</b> Copy the barcode displayed on your screen (Write it down or copy it!) 
		<br>
		<b>4.</b> Click the 'Go!' button, you will be re-directed to Saanich or another Municipalities RecOnline website. 
		<br>
		<b>5.</b> Input your barcode in the input field on RecOnline 
		<br><br>
		And just like that you've begun the registration process! Complete the remaining steps for payment and you will have successfully registered!
		</span>
	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>