<ion-view view-title="Finding An Activity">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon"  menu-toggle="left"></button>
</ion-nav-buttons>
<ion-content>
    <ion-list>
      <ion-item>
	<b style="font-size:1.25em;">Introduction</b><br><hr>
		<span style="white-space: normal;">Finding a program or activity is the most essential tool our application can provide, lets quickly run through how it can be done.
		<br>
		<br>
		<b style="font-size:1.25em;">Steps</b><br><hr>
		<b>1.</b> Navigate yourself to the Activity browsing page by opening up the main menu and clicking the Activities tab.
		<br>
		<b>2.</b> Once on the activities tab you will be greeted with a listing of all available activity categories, Click on a category you wish to browse.
		<br>
		<b>3.</b> If the category has more than one age group classification you will be greeted with an Age Groups page, if not move on to step 4. Select an age group.
		<br>
		<b>4.</b> Finally you will be provided with a listing of all the programs/activities which corresponded with the Category and Age Group you chose earlier, you may click on any program or activity to view all the information regarding it!
		<br><br>
		</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>