<ion-view view-title="Search Tutorial">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
<ion-content>
    <ion-list>
	<ion-item>
	<b style="font-size:1.25em;">Introduction</b><br><hr>
		<span style="white-space: normal;">The search function is a powerful tool within the Saanich Parks & Rec App, enabling you to quickly sort through the thousands of programs we have to offer.</span>
		<br>
		<br>
		<span style="white-space: normal;"> Within the search page you are able to input a series of parameters to refine your search, Any and all of the parameters are allowed to be left blank and will be ignored when searching.
		<br>
		<br>
		<b style="font-size:1.25em;">Search Options</b><br><hr>
		<b>Activity</b><br>Matches your input keyword against all categories and program names to return a result. This parameter heavily filters the results of your search so consider inputting this field if you wish for faster searches!<br>
		<b>Age</b><br>The age in which you want your program to be available to. The granularity of this is set to Years by default but may be set to Months if you wish to search for programs designed for infants.<br>
		<b>Instructor</b><br>The instructor which teaches a course.<br>
		<b>Municipality</b><br>The district limitation<br>
		<b>Days of the Week</b><br>By default the search will match programs which are offered on all the days of the week, you may include as many days as you wish or as little as one.<br>
		<b>Days of the Month</b><br>By default the search will match all programs offered at any time throughout the year. This can be refined to search for the availability of a program or activity at specific times throughout the year.<br>
		<br>
		<b style="font-size:1.25em;">Additional Queries</b><br><hr>
		Additional queries can be made by selecting the 'Add Query' button, This functionality enables you to combine two or more search results into a single request.<br><br> A new query will exist independantly from your others, meaning any parameters set within one query will not be carried over to another.
		</span>
	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>