<ion-view view-title="Activities">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" style="left:-35px;" menu-toggle="left"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
</ion-nav-buttons>
  <ion-content>
	  <ion-list>
		<ion-item ng-repeat="program in programs[programCategory][programAgeGroup] | filter:{name: searchParam} | orderBy:'name'" ng-if="program.name!==undefined"  href="#/app/programs/{{programCategory}}/{{programAgeGroup}}/{{program.nameId}}">
			{{program.name}}
		</ion-item>
	  </ion-list>
  </ion-content>
</ion-view>
