<ion-view view-title="Age Groups">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
</ion-nav-buttons>
  <ion-content>
	  <ion-list>
		<ion-item ng-repeat="program in programs[programCategory] | filter:searchParam | orderBy:'ageGroup'" ng-if="program.ageGroup!==undefined" href="#/app/programs/{{programCategory}}/{{program.ageId}}">
			{{program.ageGroup}}
		</ion-item>
	  </ion-list>
  </ion-content>
</ion-view>
