<ion-view view-title="Registration">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" style="left:-35px;" menu-toggle="left"></button>
</ion-nav-buttons>
<ion-content>
    <ion-list>
      <ion-item>
	  <span style="white-space: normal;">To register for your activity copy the barcode below and click the button at the bottom of the page and insert your barcode on Rec Online.
	  <br> <br> 
	  Your barcode goes here:
	  <img src="../img/barcode.png"  width="280">
	  <br>
	  <br>
	  Your barcode: <b>{{barcode}}</b>
	  <button id="recOnline" class="button button-positive" style="float:right;" ng-click="RecOnline(website)">Go!</button>
	  </span>
	  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>