<ion-view view-title="Search">
<ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
  <ion-content>
	<input id="searchText" type="search" ng-model="searchParam" ng-model-options="{debounce: 1000}" placeholder="filter programs..." aria-label="filter programs" />
	<ion-list class="example-animate-container">
		<ion-item class="animate-repeat" collection-repeat="program in programs | unique: 'name' | filter:searchParam" href="#/app/programs/{{program.category}}/{{program.ageGroup}}/{{program.name}}">
			<p>{{program.name}}</p>
			<p style ="padding-left:2em;">{{program.ageGroup}}</p>
			<p style ="padding-left:2em;">{{program.category}}</p>
		</ion-item> 
		<ion-item class="animate-repeat" ng-if="results.length == 0">
			<strong>No results found...</strong>
		</ion-item> 
	</ion-list> 
  </ion-content>
</ion-view>
